/*--- Básico -----*/

ul {
    width: 20%;
    background-color: blanchedalmond;
    list-style: url(FWD.png)circle;
    border: 1px solid black;
    margin: 0px;
    
}

li a{ 

}


/*---- icones -----*/

;